#navbar {
    height: 60px;
}

.height-content-crental {
    height: calc(100vh - 360px) !important;
}

#footer {
    width: 100%;
    max-width: none !important;
    display: block;
    margin: 0;
    margin-top: 60px;
    height: 300px;
}


